@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Josefin+Slab:wght@100;200;300;400;700&display=swap');

:root {
    --cherrySwash: 'Cherry Swash', cursive;
    --josefinSlab: 'Josefin Slab', serif;
}

h1, h2, h3{
    font-family: var(--cherrySwash);
    color: var(--text);
}

p, h4, h6, a, button{
    font-family: var(--josefinSlab);
}

body{
    --rosaClaro: #EFB7B7;
    --rosaEscuro: #BD4B4B;
    --cinza: #EEEEEE;
}

body[data-tema='light']{
    --body: #EEEEEE;
    --text: #000000;
    --icon: #EFB7B7;
}

body[data-tema='dark']{
    --body: #000000;
    --text: #EEEEEE;
    --icon: #BD4B4B;
}